<!-- <form> -->
<%= form.file_field :avatars, multiple: true %>

  <div class="form-group">
    <%= form.label :Title %>
    <%= form.text_field :title, placeholder: "Enter Title", class: "form-control", id: "title" %>
  </div>

  <div class="form-group">
    <%= form.label :Location %>
    <%= form.text_field :location, placeholder: "Enter Location", class: "form-control", id: "location" %>
  </div>

  <div class="form-group">
    <%= form.label :Description %>
    <%= form.text_area :description, placeholder: "Enter description", class: "form-control", rows: "5", id: "description" %>
  </div>

  <div class="form-group">
    <%= form.label "Price per night" %>
    <%= form.text_field :price_per_night, class: "form-control", id: "price_per_night" %>
  </div>

  <div class="form-group">
    <%= form.label "Upload your photos" %>
    <%= form.text_field :photo, class: "form-control", id: "photo" %>
  </div>

  <div class="form-group">
    <%= form.label "Number of rooms" %>
    <%= form.text_field :nb_room, class: "form-control", id: "nb_room" %>
  </div>

  <div class="form-group">
    <%= form.label "Smokers friendly" %>
    <%= form.check_box :issmoker, class: "form-control", id: "issmoker" %>
  </div>

  <div class="form-group">
    <%= form.label "We accept pets" %>
    <%= form.check_box :ispetfriendly, class: "form-control", id: "ispetfriendly" %>
  </div>

  <div class="form-group">
   <%= form.label "Allow check out at 2pm" %>
    <%= form.check_box :haslatecheckout, class: "form-control", id: "haslatecheckout" %>
  </div>

  <div class="form-group">
    <%= form.label "Kitchen + appliances" %>
    <%= form.check_box :haskitchen, class: "form-control", id: "haskitchen" %>
  </div>

  <div class="form-group">
    <%= form.label "Wifi available" %>
    <%= form.check_box :haswifi, class: "form-control", id: "haswifi" %>
  </div>

  <div class="form-group">
    <%= form.label "Swimming Pool" %>
    <%= form.check_box :hasswimmingpool, class: "form-control", id: "hasswimmingpool" %>
  </div>














<!-- </form> -->
