<!-- <form> -->
<%= form.file_field :avatars, multiple: true %>

  <div class="form-group">
    <%= form.label :Title %>
    <%= form.text_field :title, placeholder: "Enter Title", class: "form-control", id: "title" %>
  </div>

  <div class="form-group">
    <%= form.label :Location %>
    <%= form.text_field :location, placeholder: "Enter Location", class: "form-control", id: "location" %>
  </div>

  <div class="form-group">
    <%= form.label :Description %>
    <%= form.text_area :description, placeholder: "Enter description", class: "form-control", rows: "5", id: "description" %>
  </div>

  <div class="form-group">
    <%= form.label "Daily rate" %>
    <%= form.text_field :daily_rate, class: "form-control", id: "price_per_night" %>
  </div>

  <div class="form-group">
    <%= form.label "Number of rooms" %>
    <%= form.text_field :nb_room, class: "form-control", id: "nb_room" %>
  </div>

  <div class="form-group">
    <%= form.label "Smokers friendly" %>
    <%= form.check_box :issmoker, class: "form-control", id: "issmoker" %>
  </div>

  <div class="form-group">
    <%= form.label "We accept pets" %>
    <%= form.check_box :ispetfriendly, class: "form-control", id: "ispetfriendly" %>
  </div>

  <div class="form-group">
   <%= form.label "Allow check out at 2pm" %>
    <%= form.check_box :haslatecheckout, class: "form-control", id: "haslatecheckout" %>
  </div>

  <div class="form-group">
    <%= form.label "Kitchen + appliances" %>
    <%= form.check_box :haskitchen, class: "form-control", id: "haskitchen" %>
  </div>

  <div class="form-group">
    <%= form.label "Wifi available" %>
    <%= form.check_box :haswifi, class: "form-control", id: "haswifi" %>
  </div>

  <div class="form-group">
    <%= form.label "Swimming Pool" %>
    <%= form.check_box :hasswimmingpool, class: "form-control", id: "hasswimmingpool" %>
  </div>

  <div class = "form-group" >
  <%= form.label :tag_list %>
  <%= form.text_field :tag_list %>
  </div>

<!-- DAVID : Here I implement  a field which has to be linked to another form IE: fields are linked to Unavdates table and not the listing table.  There are two ways of doing it: nested forms or custom input field.  In this case it is input field -->


 <div class="form-group">
  <%=form.label :Unavailable_dates %>
    <script>
      $(function() {
      $("#resa_datepicker_end-<%=@listing.id %>" ).multiDatesPicker({
      dateFormat: 'dd-mm-yy',
      numberOfMonths: [3,4],
      altField: "#resa_datepicker_end_input",
      altFormat: "dd-mm-yy" }).val();
      });
    </script>
    <div id="resa_datepicker_end-<%=@listing.id %>"></div>
    <%=form.hidden_field :unavdate, class: "form-control", id: "resa_datepicker_end_input", :multiple => true %>
  </div>


<!-- var today = new Date();
$('#disable-dates').multiDatesPicker({
  addDisabledDates: [today.setDate(1), today.setDate(3)]
});
 -->


<!-- </form> -->
