this is a form to create a new listing
see partial form
<%= form_for @listing do |form| %>
    <%= render partial: '/listings/form', object: form %>
    <%= render partial: '/unavdates/form' %>

    <br>

    <div class="submit-field">
      <%= form.submit "Create your listing", class: "btn btn-default"%>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
